In [87]:
import pandas as pd
import numpy as np

dfs = []
for i in range(2017,2023):
    df = pd.read_csv(f"./{i}_lake_data.csv")
    df["Year"] = i  # Fill the Year column with the current year
    dfs.append(df)

df = pd.concat(dfs)
df

,STN Code,Name of Monitoring Location,Type Water Body,State Name,Min Temperature,Max Temperature,Min Dissolved Oxygen,Max Dissolved Oxygen,Min pH,Max pH,...,Max Conductivity,Min BOD,Max BOD,Min Nitrate N + Nitrite N,Max Nitrate N + Nitrite N,Min Fecal Coliform,Max Fecal Coliform,Min Total Coliform,Max Total Coliform,Year
0,1790.0,"PULICATE LAKE , NELLORE \nDIST.",LAKE,ANDHRA \nPRADESH,27.0,28.0,5.1,6.9,7.1,8.5,...,156600.0,1.0,2.3,0.65,6.9,2.0,2.0,800.0,1600.0,2017
1,2353.0,"KONDACHARLA-AAVA LAKE, \nPARAWADA PHARMA CITY,...",LAKE,ANDHRA \nPRADESH,24.0,28.0,5.9,6.8,6.9,8.4,...,1034.0,1.3,2.3,1.16,3.36,11.0,29.0,350.0,2400.0,2017
2,2205.0,"MER BEEL AT MADHABPUR, \nASSAM",LAKE,ASSAM,20.0,27.0,2.2,7.2,5.7,7.0,...,128.0,1.0,16.2,0.1,1.7,300.0,2000.0,360.0,6400.0,2017
3,2206.0,"DALONI BEEL NEAR \nJOGIGHOPA, ASSAM",LAKE,ASSAM,22.0,36.0,5.1,6.0,6.6,7.8,...,153.0,0.9,2.8,0.1,1.4,300.0,1200.0,300.0,5300.0,2017
4,1263.0,ELANGABEEL SYSTEM POND \n(CONNECTED TO R. KOLA...,POND,ASSAM,22.0,34.0,0.7,4.6,6.8,8.4,...,972.0,4.5,14.7,0.8,5.7,1100.0,3500.0,730.0,21000.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,2544.0,SAHEBBANDH AT \nPURULIA,LAKE,WEST \nBENGAL,20,36,9.0,10.2,7.0,7.8,...,326,2.8,4.3,0.30,1.06,1100,4700,2100,11000,2022
644,2522.0,SINCHAL LAKE FOR \nDARJEELING,LAKE,WEST \nBENGAL,2,18,7.2,8.8,6.9,7.9,...,50,1.0,1.8,0.30,1.13,2,230,40,1600,2022
645,5163.0,"SUBHAS SAROBAR, \nBELAGHATA, KOLKATA",LAKE,WEST \nBENGAL,22,32,6.7,8.0,7.2,8.3,...,426,3.0,4.5,0.30,1.36,700,2300,1300,3500,2022
646,2521.0,"WATER RESERVIOR AT \nDELO LAKE, DARJELLING",LAKE,WEST \nBENGAL,8,26,7.0,8.5,7.0,7.7,...,38,1.0,1.2,0.30,1.17,70,3300,140,11000,2022
647,4725.0,WATER RESERVIOR ST. \nHELENS SCHOOL,LAKE,WEST \nBENGAL,4,23,6.3,8.2,6.3,8.2,...,95,1.0,2.6,0.30,1.19,60,5000,110,11000,2022

In [88]:
#using only data of lakes
df = df[df["Type Water Body"]=="LAKE"]

#drop rows containing blank values
df = df.dropna()

#some entries in the pdf have - to represent a blank value so we must remove those as well
bad_vals = df.apply(lambda x:x=="-").any(axis=1)
bad_idx = bad_vals.index[bad_vals]
df = df.drop(bad_idx)

#replace below detection level with 0
df = df.replace("BDL",0)

df.reset_index(inplace=True,drop=True)
df

,STN Code,Name of Monitoring Location,Type Water Body,State Name,Min Temperature,Max Temperature,Min Dissolved Oxygen,Max Dissolved Oxygen,Min pH,Max pH,...,Max Conductivity,Min BOD,Max BOD,Min Nitrate N + Nitrite N,Max Nitrate N + Nitrite N,Min Fecal Coliform,Max Fecal Coliform,Min Total Coliform,Max Total Coliform,Year
0,1790.0,"PULICATE LAKE , NELLORE \nDIST.",LAKE,ANDHRA \nPRADESH,27.0,28.0,5.1,6.9,7.1,8.5,...,156600.0,1.0,2.3,0.65,6.9,2.0,2.0,800.0,1600.0,2017
1,2353.0,"KONDACHARLA-AAVA LAKE, \nPARAWADA PHARMA CITY,...",LAKE,ANDHRA \nPRADESH,24.0,28.0,5.9,6.8,6.9,8.4,...,1034.0,1.3,2.3,1.16,3.36,11.0,29.0,350.0,2400.0,2017
2,2205.0,"MER BEEL AT MADHABPUR, \nASSAM",LAKE,ASSAM,20.0,27.0,2.2,7.2,5.7,7.0,...,128.0,1.0,16.2,0.1,1.7,300.0,2000.0,360.0,6400.0,2017
3,2206.0,"DALONI BEEL NEAR \nJOGIGHOPA, ASSAM",LAKE,ASSAM,22.0,36.0,5.1,6.0,6.6,7.8,...,153.0,0.9,2.8,0.1,1.4,300.0,1200.0,300.0,5300.0,2017
4,2557.0,"KAWAR LAKE, BEGUSARAI, \nBIHAR",LAKE,BIHAR,19.0,32.0,5.4,8.0,7.2,7.9,...,325.0,2.1,2.8,0.0,0.0,7000.0,26000.0,15000.0,38000.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389,2544.0,SAHEBBANDH AT \nPURULIA,LAKE,WEST \nBENGAL,20,36,9.0,10.2,7.0,7.8,...,326,2.8,4.3,0.30,1.06,1100,4700,2100,11000,2022
1390,2522.0,SINCHAL LAKE FOR \nDARJEELING,LAKE,WEST \nBENGAL,2,18,7.2,8.8,6.9,7.9,...,50,1.0,1.8,0.30,1.13,2,230,40,1600,2022
1391,5163.0,"SUBHAS SAROBAR, \nBELAGHATA, KOLKATA",LAKE,WEST \nBENGAL,22,32,6.7,8.0,7.2,8.3,...,426,3.0,4.5,0.30,1.36,700,2300,1300,3500,2022
1392,2521.0,"WATER RESERVIOR AT \nDELO LAKE, DARJELLING",LAKE,WEST \nBENGAL,8,26,7.0,8.5,7.0,7.7,...,38,1.0,1.2,0.30,1.17,70,3300,140,11000,2022
1393,4725.0,WATER RESERVIOR ST. \nHELENS SCHOOL,LAKE,WEST \nBENGAL,4,23,6.3,8.2,6.3,8.2,...,95,1.0,2.6,0.30,1.19,60,5000,110,11000,2022

In [89]:
#Required Columns
L = [
  "Min Temperature","Max Temperature","Min Dissolved Oxygen","Max Dissolved Oxygen",
  "Min pH","Max pH","Min Conductivity","Max Conductivity","Min BOD","Max BOD",
  "Min Nitrate N + Nitrite N","Max Nitrate N + Nitrite N","Min Fecal Coliform",
  "Max Fecal Coliform","Min Total Coliform","Max Total Coliform", "Year"
]
df[L] = df[L].apply(pd.to_numeric)

#dropping redundant columns
# df = df.drop(columns=["Name of Monitoring Location","Type Water Body"])
df = df.drop(columns=["Type Water Body"])
df = df.astype({"STN Code":int})
df

,STN Code,Name of Monitoring Location,State Name,Min Temperature,Max Temperature,Min Dissolved Oxygen,Max Dissolved Oxygen,Min pH,Max pH,Min Conductivity,Max Conductivity,Min BOD,Max BOD,Min Nitrate N + Nitrite N,Max Nitrate N + Nitrite N,Min Fecal Coliform,Max Fecal Coliform,Min Total Coliform,Max Total Coliform,Year
0,1790,"PULICATE LAKE , NELLORE \nDIST.",ANDHRA \nPRADESH,27.0,28.0,5.1,6.9,7.1,8.5,3270.0,156600.0,1.0,2.3,0.65,6.90,2.0,2.0,800.0,1600.0,2017
1,2353,"KONDACHARLA-AAVA LAKE, \nPARAWADA PHARMA CITY,...",ANDHRA \nPRADESH,24.0,28.0,5.9,6.8,6.9,8.4,597.0,1034.0,1.3,2.3,1.16,3.36,11.0,29.0,350.0,2400.0,2017
2,2205,"MER BEEL AT MADHABPUR, \nASSAM",ASSAM,20.0,27.0,2.2,7.2,5.7,7.0,50.0,128.0,1.0,16.2,0.10,1.70,300.0,2000.0,360.0,6400.0,2017
3,2206,"DALONI BEEL NEAR \nJOGIGHOPA, ASSAM",ASSAM,22.0,36.0,5.1,6.0,6.6,7.8,54.0,153.0,0.9,2.8,0.10,1.40,300.0,1200.0,300.0,5300.0,2017
4,2557,"KAWAR LAKE, BEGUSARAI, \nBIHAR",BIHAR,19.0,32.0,5.4,8.0,7.2,7.9,222.0,325.0,2.1,2.8,0.00,0.00,7000.0,26000.0,15000.0,38000.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389,2544,SAHEBBANDH AT \nPURULIA,WEST \nBENGAL,20.0,36.0,9.0,10.2,7.0,7.8,240.0,326.0,2.8,4.3,0.30,1.06,1100.0,4700.0,2100.0,11000.0,2022
1390,2522,SINCHAL LAKE FOR \nDARJEELING,WEST \nBENGAL,2.0,18.0,7.2,8.8,6.9,7.9,13.0,50.0,1.0,1.8,0.30,1.13,2.0,230.0,40.0,1600.0,2022
1391,5163,"SUBHAS SAROBAR, \nBELAGHATA, KOLKATA",WEST \nBENGAL,22.0,32.0,6.7,8.0,7.2,8.3,349.0,426.0,3.0,4.5,0.30,1.36,700.0,2300.0,1300.0,3500.0,2022
1392,2521,"WATER RESERVIOR AT \nDELO LAKE, DARJELLING",WEST \nBENGAL,8.0,26.0,7.0,8.5,7.0,7.7,16.0,38.0,1.0,1.2,0.30,1.17,70.0,3300.0,140.0,11000.0,2022
1393,4725,WATER RESERVIOR ST. \nHELENS SCHOOL,WEST \nBENGAL,4.0,23.0,6.3,8.2,6.3,8.2,18.0,95.0,1.0,2.6,0.30,1.19,60.0,5000.0,110.0,11000.0,2022

In [90]:
test = pd.read_csv("2019_lake_data.csv")
test = test.groupby("STN Code").size()
test = test.reset_index(name="Count")
filtered = test[test["Count"] > 1]

print(test)

     STN Code  Count
0        1263      1
1        1285      1
2        1286      1
3        1291      1
4        1292      1
..        ...    ...
524      4729      1
525      4740      1
526      4741      1
527      4795      1
528      4823      1

[529 rows x 2 columns]

In [91]:
# Group by 'STN Code' and count the occurrences of each code
stn_counts = df.groupby("STN Code").size()

# Convert to a DataFrame for better readability (optional)
stn_counts = stn_counts.reset_index(name="Count")

print(stn_counts)

     STN Code  Count
0        1215      1
1        1263      1
2        1285      5
3        1286      5
4        1291      4
..        ...    ...
398      5201      1
399      5230      1
400      5280      1
401      5290      1
402      5291      1

[403 rows x 2 columns]

# Calculating WQI

To calculate water quality index, we can use the Weighted Arithmetic Mean method

$$ WQI = \frac{\sum q_iw_i}{\sum w_i} $$

Here, $w_i$ represents unit weight of ith parameter towards overall water quality and $q_i$ is the quality estimate of the ith parameter. They can be calculated as follows

$$ q_i = \frac{V_i - V_{ideal} }{S_i - V_{ideal}} * 100 $$

$$ w_i = \frac{K}{S_i} $$

$K$ is the constant of proportionality and is defined by 

$$ K = \frac{1}{\sum S_i} $$ <br />

| Parameter | Standard Value ($S_i$) |
|:-:|:-:|
| Dissolved Oxygen (mg/L) | 10 |
| pH | 8.5 |
| Conductivity (µS/cm) | 1000 |
| Biological Oxygen Demand (mg/L) | 5 |
| Nitrate (mg/L) | 45 |
| Fecal Coliform (per 100 mL) | 100 |
| Total Coliform (per 100 mL) | 1000 |

In [92]:
stv = np.array([10,8.5,1000,5,45,100,1000])
K = 1/np.sum(stv)
w = [K/x for x in stv]
w_n = np.array([x/sum(w) for x in w])
print(w_n)

[0.22130294 0.2603564  0.00221303 0.44260588 0.04917843 0.02213029
 0.00221303]

In [93]:
idv = np.array([14.6,7,0,0,0,0,0])
diff = stv-idv

def calculate_wqi(row):
    q = 100*(row - idv)/diff
    return np.dot(q,w_n)

example_row = np.array([6.8,7.8,1179,4.6,3.56,23,240])
calculate_wqi(example_row)

93.34277805867757

In [94]:
def avg(col1,col2):
    return (col1.to_numpy() + col2.to_numpy())/2

pd.set_option('mode.chained_assignment',None)

df_a = pd.DataFrame()
df_a["Dissolved Oxygen"] = avg(df["Min Dissolved Oxygen"],df["Max Dissolved Oxygen"])
df_a["Location Name"] = df["Name of Monitoring Location"].apply(lambda x: x.split(",")[0].strip().replace('\n', ''))
df_a["State Name"] = df["State Name"].apply(lambda x: x.replace('\n', ''))
df_a["Year"] = df ["Year"]
df_a["pH"] = avg(df["Min pH"],df["Max pH"])
df_a["Conductivity"] = avg(df["Min Conductivity"],df["Max Conductivity"])
df_a["BOD"] = avg(df["Min BOD"],df["Max BOD"])
df_a["Nitrate N + Nitrite N"] = avg(df["Min Nitrate N + Nitrite N"],df["Max Nitrate N + Nitrite N"])
df_a["Fecal Coliform"] = avg(df["Min Fecal Coliform"],df["Max Fecal Coliform"])
df_a["Total Coliform"] = avg(df["Min Total Coliform"],df["Max Total Coliform"])
df_a

,Dissolved Oxygen,Location Name,State Name,Year,pH,Conductivity,BOD,Nitrate N + Nitrite N,Fecal Coliform,Total Coliform
0,6.00,PULICATE LAKE,ANDHRA PRADESH,2017,7.80,79935.0,1.65,3.775,2.0,1200.0
1,6.35,KONDACHARLA-AAVA LAKE,ANDHRA PRADESH,2017,7.65,815.5,1.80,2.260,20.0,1375.0
2,4.70,MER BEEL AT MADHABPUR,ASSAM,2017,6.35,89.0,8.60,0.900,1150.0,3380.0
3,5.55,DALONI BEEL NEAR JOGIGHOPA,ASSAM,2017,7.20,103.5,1.85,0.750,750.0,2800.0
4,6.70,KAWAR LAKE,BIHAR,2017,7.55,273.5,2.45,0.000,16500.0,26500.0
...,...,...,...,...,...,...,...,...,...,...
1389,9.60,SAHEBBANDH AT PURULIA,WEST BENGAL,2022,7.40,283.0,3.55,0.680,2900.0,6550.0
1390,8.00,SINCHAL LAKE FOR DARJEELING,WEST BENGAL,2022,7.40,31.5,1.40,0.715,116.0,820.0
1391,7.35,SUBHAS SAROBAR,WEST BENGAL,2022,7.75,387.5,3.75,0.830,1500.0,2400.0
1392,7.75,WATER RESERVIOR AT DELO LAKE,WEST BENGAL,2022,7.35,27.0,1.10,0.735,1685.0,5570.0
1393,7.25,WATER RESERVIOR ST. HELENS SCHOOL,WEST BENGAL,2022,7.25,56.5,1.80,0.745,2530.0,5555.0

In [96]:
wqi = df_a.drop(columns=['Location Name', 'Year', 'State Name']).apply(calculate_wqi,axis=1)
df_a["WQI"] = wqi
df_a = df_a[df_a["WQI"]>=0]
df_a.dropna()
df_a.insert(0,"STN Code",df["STN Code"])
df_a
# df_a["Name of Monitoring Location"] = df_a["Name of Monitoring Location"].str.replace("\n", "")
# # Export the DataFrame to a CSV file
# df_a.to_csv("updated_locations.csv", index=False)

# print("DataFrame exported to 'updated_locations.csv'")

,STN Code,Dissolved Oxygen,Location Name,State Name,Year,pH,Conductivity,BOD,Nitrate N + Nitrite N,Fecal Coliform,Total Coliform,WQI
0,1790,6.00,PULICATE LAKE,ANDHRA PRADESH,2017,7.80,79935.0,1.65,3.775,2.0,1200.0,88.277923
1,2353,6.35,KONDACHARLA-AAVA LAKE,ANDHRA PRADESH,2017,7.65,815.5,1.80,2.260,20.0,1375.0,68.080478
2,2205,4.70,MER BEEL AT MADHABPUR,ASSAM,2017,6.35,89.0,8.60,0.900,1150.0,3380.0,138.790236
3,2206,5.55,DALONI BEEL NEAR JOGIGHOPA,ASSAM,2017,7.20,103.5,1.85,0.750,750.0,2800.0,80.709022
4,2557,6.70,KAWAR LAKE,BIHAR,2017,7.55,273.5,2.45,0.000,16500.0,26500.0,440.315367
...,...,...,...,...,...,...,...,...,...,...,...,...
1389,2544,9.60,SAHEBBANDH AT PURULIA,WEST BENGAL,2022,7.40,283.0,3.55,0.680,2900.0,6550.0,128.186851
1390,2522,8.00,SINCHAL LAKE FOR DARJEELING,WEST BENGAL,2022,7.40,31.5,1.40,0.715,116.0,820.0,53.921655
1391,5163,7.35,SUBHAS SAROBAR,WEST BENGAL,2022,7.75,387.5,3.75,0.830,1500.0,2400.0,114.995558
1392,2521,7.75,WATER RESERVIOR AT DELO LAKE,WEST BENGAL,2022,7.35,27.0,1.10,0.735,1685.0,5570.0,87.375709
1393,4725,7.25,WATER RESERVIOR ST. HELENS SCHOOL,WEST BENGAL,2022,7.25,56.5,1.80,0.745,2530.0,5555.0,112.946349

In [97]:
# df_loc = pd.read_csv("updated_locations.csv")

# filtered_data = df_loc[['STN Code', 'lat', 'lon']].copy()
# distinct_data = filtered_data.drop_duplicates(subset='STN Code')
# # Save the resulting DataFrame to a new CSV (optional)
# output_file = 'filtered_data.csv'  # Replace with your desired output file name
# distinct_data.to_csv(output_file, index=False)

# # Print the resulting DataFrame
# print(distinct_data)
distinct_data = pd.read_csv('filtered_data.csv')

In [98]:
# Perform a left merge to add 'lat' and 'lon' to df_a based on 'STN Code'
df_a = df_a.merge(distinct_data, on='STN Code', how='left')

# Print the updated DataFrame
print(df_a)

# Save the updated DataFrame to a new CSV (optional)
updated_file = 'updated_df_a.csv'
df_a.to_csv(updated_file, index=False)

      STN Code  Dissolved Oxygen                      Location Name  \
0         1790              6.00                      PULICATE LAKE
1         2353              6.35              KONDACHARLA-AAVA LAKE
2         2205              4.70              MER BEEL AT MADHABPUR
3         2206              5.55         DALONI BEEL NEAR JOGIGHOPA
4         2557              6.70                         KAWAR LAKE
...        ...               ...                                ...
1387      2544              9.60              SAHEBBANDH AT PURULIA
1388      2522              8.00        SINCHAL LAKE FOR DARJEELING
1389      5163              7.35                     SUBHAS SAROBAR
1390      2521              7.75       WATER RESERVIOR AT DELO LAKE
1391      4725              7.25  WATER RESERVIOR ST. HELENS SCHOOL

          State Name  Year    pH  Conductivity   BOD  Nitrate N + Nitrite N  \
0     ANDHRA PRADESH  2017  7.80       79935.0  1.65                  3.775
1     ANDHRA PRADESH  2017  7.65         815.5  1.80                  2.260
2              ASSAM  2017  6.35          89.0  8.60                  0.900
3              ASSAM  2017  7.20         103.5  1.85                  0.750
4              BIHAR  2017  7.55         273.5  2.45                  0.000
...              ...   ...   ...           ...   ...                    ...
1387     WEST BENGAL  2022  7.40         283.0  3.55                  0.680
1388     WEST BENGAL  2022  7.40          31.5  1.40                  0.715
1389     WEST BENGAL  2022  7.75         387.5  3.75                  0.830
1390     WEST BENGAL  2022  7.35          27.0  1.10                  0.735
1391     WEST BENGAL  2022  7.25          56.5  1.80                  0.745

      Fecal Coliform  Total Coliform         WQI        lat        lon
0                2.0          1200.0   88.277923  13.695333  80.059293
1               20.0          1375.0   68.080478  17.603203  83.000845
2             1150.0          3380.0  138.790236  26.407384  93.255130
3              750.0          2800.0   80.709022  26.407384  93.255130
4            16500.0         26500.0  440.315367  25.512541  86.088339
...              ...             ...         ...        ...        ...
1387          2900.0          6550.0  128.186851  22.996495  87.685588
1388           116.0           820.0   53.921655  22.996495  87.685588
1389          1500.0          2400.0  114.995558  22.996495  87.685588
1390          1685.0          5570.0   87.375709  22.996495  87.685588
1391          2530.0          5555.0  112.946349  22.996495  87.685588

[1392 rows x 14 columns]

In [99]:
import pandas as pd
df = pd.read_csv("water_quality_index.csv")
df["STN Code"].nunique()

339

In [100]:
counts = [0]*5
counts[0] = len(df_a[df_a["WQI"]<50])
counts[1] = len(df_a[(df_a["WQI"]>=50) & (df_a["WQI"]<100)])
counts[2] = len(df_a[(df_a["WQI"]>=100) & (df_a["WQI"]<200)])
counts[3] = len(df_a[(df_a["WQI"]>=200) & (df_a["WQI"]<300)])
counts[4] = len(df_a[df_a["WQI"]>=300])
print(counts)

[35, 575, 337, 137, 308]

In [101]:
df_a = df_a[df_a["WQI"]<2000]
df_a

,STN Code,Dissolved Oxygen,Location Name,State Name,Year,pH,Conductivity,BOD,Nitrate N + Nitrite N,Fecal Coliform,Total Coliform,WQI,lat,lon
0,1790,6.00,PULICATE LAKE,ANDHRA PRADESH,2017,7.80,79935.0,1.65,3.775,2.0,1200.0,88.277923,13.695333,80.059293
1,2353,6.35,KONDACHARLA-AAVA LAKE,ANDHRA PRADESH,2017,7.65,815.5,1.80,2.260,20.0,1375.0,68.080478,17.603203,83.000845
2,2205,4.70,MER BEEL AT MADHABPUR,ASSAM,2017,6.35,89.0,8.60,0.900,1150.0,3380.0,138.790236,26.407384,93.255130
3,2206,5.55,DALONI BEEL NEAR JOGIGHOPA,ASSAM,2017,7.20,103.5,1.85,0.750,750.0,2800.0,80.709022,26.407384,93.255130
4,2557,6.70,KAWAR LAKE,BIHAR,2017,7.55,273.5,2.45,0.000,16500.0,26500.0,440.315367,25.512541,86.088339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1387,2544,9.60,SAHEBBANDH AT PURULIA,WEST BENGAL,2022,7.40,283.0,3.55,0.680,2900.0,6550.0,128.186851,22.996495,87.685588
1388,2522,8.00,SINCHAL LAKE FOR DARJEELING,WEST BENGAL,2022,7.40,31.5,1.40,0.715,116.0,820.0,53.921655,22.996495,87.685588
1389,5163,7.35,SUBHAS SAROBAR,WEST BENGAL,2022,7.75,387.5,3.75,0.830,1500.0,2400.0,114.995558,22.996495,87.685588
1390,2521,7.75,WATER RESERVIOR AT DELO LAKE,WEST BENGAL,2022,7.35,27.0,1.10,0.735,1685.0,5570.0,87.375709,22.996495,87.685588
1391,4725,7.25,WATER RESERVIOR ST. HELENS SCHOOL,WEST BENGAL,2022,7.25,56.5,1.80,0.745,2530.0,5555.0,112.946349,22.996495,87.685588

In [102]:
df_a.to_csv("water_data_final.csv", index=False)

In [104]:
year_counts = df_a['Year'].value_counts()
year_counts

Year
2022    312
2021    275
2020    241
2019    194
2018    134
2017    131
Name: count, dtype: int64

In [103]:
df_a.dtypes

STN Code                   int32
Dissolved Oxygen         float64
Location Name             object
State Name                object
Year                       int64
pH                       float64
Conductivity             float64
BOD                      float64
Nitrate N + Nitrite N    float64
Fecal Coliform           float64
Total Coliform           float64
WQI                      float64
lat                      float64
lon                      float64
dtype: object

In [32]:
df_na = df_a[df_a['lat'].isna()]
df_full = pd.read_csv('2022_lake_data.csv', usecols=['STN Code', 'State Name'])
df_full['State Name'] = df_full['State Name'].str.replace('\n', '', regex=False)
df_na = df_na.merge(df_full, on='STN Code', how='left')
df_na

,STN Code,Dissolved Oxygen,Location Name,Year,pH,Conductivity,BOD,Nitrate N + Nitrite N,Fecal Coliform,Total Coliform,WQI,lat,lon,State Name
0,5159,5.20,GARGEYAPURAM LAKE GARGEYAPURAM (V),2022,7.50,872.0,2.60,3.115,369.5,1274.5,85.909421,NaN,NaN,ANDHRA PRADESH
1,5147,5.60,PALASAMUDRAM LAKE,2022,7.20,428.5,1.85,0.790,238.5,768.5,68.775547,NaN,NaN,ANDHRA PRADESH
2,2207,5.50,BOR BEEL AT JAKAI,2022,7.10,194.0,2.45,1.400,620.0,1160.0,81.376318,NaN,NaN,ASSAM
3,2220,6.80,CHAND DUBI BEEL,2022,7.20,122.5,2.60,1.450,635.0,1415.0,78.563659,NaN,NaN,ASSAM
4,1263,4.40,ELANGABEEL SYSTEM (CONNECTED TO R. KOLONG),2022,7.15,272.5,2.50,1.450,730.0,1410.0,90.491300,NaN,NaN,ASSAM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,4249,3.15,RANGASAMUDRAM,2022,7.95,727.5,7.50,6.110,17.5,244.0,139.235318,NaN,NaN,TELANGANA
58,5124,4.50,TCS ENERGY PARK LAKE,2022,7.95,595.5,1.70,3.610,20.5,410.0,81.198978,NaN,NaN,TELANGANA
59,1215,5.55,THUMMALA CHERUVU,2022,7.80,318.0,1.55,2.170,5.0,95.5,71.584714,NaN,NaN,TELANGANA
60,5131,1.30,YELLAMMA CHERUVU,2022,7.50,1277.0,5.50,6.475,26.5,485.0,123.034620,NaN,NaN,TELANGANA
61,5163,7.35,SUBHAS SAROBAR,2022,7.75,387.5,3.75,0.830,1500.0,2400.0,114.995558,NaN,NaN,WEST BENGAL

In [44]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut


locations = [(i.replace("\n", ""), j, k) for i, j, k in zip(df_na["Location Name"], df_na["State Name"], df_na["STN Code"])]
location_names = [i[0] for i in locations]
print(location_names)

# Initialize the geocoder
geolocator = Nominatim(user_agent="anyapi")
STATE_DETERMINED = []
FULLY_FAILED = []
RAISED_ERROR = []
# Function to get coordinates for US cities considering both city and state
def get_coordinates(loc, state):
    global STATE_DETERMINED, FULLY_FAILED, RAISED_ERROR
    try:
        # Specify both city and state in the query string
        query = loc.split(",")[0].strip()
        location = geolocator.geocode(f'{query}, India')
        for i in loc.split(","):
            query = i.strip()
            location = geolocator.geocode(f'{query}, India')
            if location:
                break
        if not location:
            print(f"First Attempt FAILED at {loc}, {state}")
            location = geolocator.geocode(f'{state}, India')
            if not (loc, state) in STATE_DETERMINED: 
                STATE_DETERMINED += [(loc, state)] 
        
        if location:
            if (loc, state) in RAISED_ERROR:
                RAISED_ERROR.remove((loc, state))
            return location.latitude, location.longitude
        else:
            if not (loc, state) in FULLY_FAILED:
                FULLY_FAILED += [(loc, state)] 
            return None, None
    except Exception as e:
        print(f"Error fetching coordinates for {loc}, {state}: {e}")
        if not (loc, state) in RAISED_ERROR:
            RAISED_ERROR += [(loc, state)] 
        return None, None

location_coords_geopy = []
for i in range(len(locations)):
    location_name, state_name, stn_code = locations[i]
    print(f"PROCESSING #{i}: {location_name}, {state_name}\n{'='*40}")
    lat, lon = get_coordinates(location_name, state_name)
    coord = (lat, lon, stn_code)
    location_coords_geopy += [coord]
    print(f"{'='*40}")

['GARGEYAPURAM LAKE GARGEYAPURAM (V)', 'PALASAMUDRAM LAKE', 'BOR BEEL AT JAKAI', 'CHAND DUBI BEEL', 'ELANGABEEL SYSTEM (CONNECTED TO R. KOLONG)', 'MAGURI BEEL', 'SARAN BEEL', 'AMBULOR LAKE', 'BATIM LAKE', 'SARZORA LAKE', 'BHEEMSANDRA TANK', 'BYRAMANGALA LAKE', 'DEVASANDRA LAKE', 'DODDAKANNEHALLI LAKE', 'DODDANEKKUNDI LAKE', 'HESARAGHATTA LAKE', 'HULIKERE LAKE', 'HUNASINA KERE LAKE', 'KAMMASANDRA LAKE', 'KELEGERE LAKE', 'KOGILU KERE', 'KONDAJJIKERE LAKE', 'KUNDUVADAKERE LAKE', 'MALATHAHALLI LAKE', 'NAGAVARA LAKE', 'NUGGIKERE LAKE', 'SATHYAMANGALA KERE POND', 'SUDANAKERE LAKE', 'UNAKALKERE LAKE', 'UTTARAHALLI DORAIKERE', 'VEERAPURA TANK', 'VIBHUTHIPURA LAKE', 'YELACHENAHALLI LAKE', 'AKKULAM BRIDGE AT AKKULAM LAKE', 'ASHTAMUDI LAKE AT PERUMON', 'ASHTAMUDI LAKE AT THOPPILAKADAVU', 'ASHTAMUDI LAKE NEAR KSRTC BUS DEPOT', 'ASHTAMUDI LAKE NEAR M/S. KUNDARA CERAMICS', 'LAKE KARLAD AT WAYANAD', 'CHANGU LAKE', 'MENMOITSO LAKE', 'BATHULA KUNTA', 'CHANDANA CHERUVU', 'CHINNA CHERUVU', 'CHINNA PEDDA CHERUVU', 'ISMAILKHANPET TANK', 'KAMUNI CHERUVU', 'KOMATI CHERUVU', 'KOTHA CHERUVU (NOVATEL LAKE)', 'KOTI CHERUVU', 'MALKA CHERUVU', 'MANTHRALA CHERUVU', 'MEEDI KUNTA', 'PALLE CHERUVU', 'PALLE CHERUVU', 'PEDDAKANJARLA TANK', 'RAMANNA CHERUVU', 'RANGASAMUDRAM', 'TCS ENERGY PARK LAKE', 'THUMMALA CHERUVU', 'YELLAMMA CHERUVU', 'SUBHAS SAROBAR']
PROCESSING #0: GARGEYAPURAM LAKE GARGEYAPURAM (V), ANDHRA PRADESH
========================================
First Attempt FAILED at GARGEYAPURAM LAKE GARGEYAPURAM (V), ANDHRA PRADESH
========================================
PROCESSING #1: PALASAMUDRAM LAKE, ANDHRA PRADESH
========================================
First Attempt FAILED at PALASAMUDRAM LAKE, ANDHRA PRADESH
========================================
PROCESSING #2: BOR BEEL AT JAKAI, ASSAM
========================================
First Attempt FAILED at BOR BEEL AT JAKAI, ASSAM
========================================
PROCESSING #3: CHAND DUBI BEEL, ASSAM
========================================
First Attempt FAILED at CHAND DUBI BEEL, ASSAM
========================================
PROCESSING #4: ELANGABEEL SYSTEM (CONNECTED TO R. KOLONG), ASSAM
========================================
First Attempt FAILED at ELANGABEEL SYSTEM (CONNECTED TO R. KOLONG), ASSAM
========================================
PROCESSING #5: MAGURI BEEL, ASSAM
========================================
First Attempt FAILED at MAGURI BEEL, ASSAM
========================================
PROCESSING #6: SARAN BEEL, ASSAM
========================================
First Attempt FAILED at SARAN BEEL, ASSAM
========================================
PROCESSING #7: AMBULOR LAKE, GOA
========================================
========================================
PROCESSING #8: BATIM LAKE, GOA
========================================
First Attempt FAILED at BATIM LAKE, GOA
========================================
PROCESSING #9: SARZORA LAKE, GOA
========================================
========================================
PROCESSING #10: BHEEMSANDRA TANK, KARNATAKA
========================================
First Attempt FAILED at BHEEMSANDRA TANK, KARNATAKA
========================================
PROCESSING #11: BYRAMANGALA LAKE, KARNATAKA
========================================
First Attempt FAILED at BYRAMANGALA LAKE, KARNATAKA
========================================
PROCESSING #12: DEVASANDRA LAKE, KARNATAKA
========================================
========================================
PROCESSING #13: DODDAKANNEHALLI LAKE, KARNATAKA
========================================
First Attempt FAILED at DODDAKANNEHALLI LAKE, KARNATAKA
========================================
PROCESSING #14: DODDANEKKUNDI LAKE, KARNATAKA
========================================
First Attempt FAILED at DODDANEKKUNDI LAKE, KARNATAKA
========================================
PROCESSING #15: HESARAGHATTA LAKE, KARNATAKA
========================================
========================================
PROCESSING #16: HULIKERE LAKE, KARNATAKA
========================================
First Attempt FAILED at HULIKERE LAKE, KARNATAKA
========================================
PROCESSING #17: HUNASINA KERE LAKE, KARNATAKA
========================================
First Attempt FAILED at HUNASINA KERE LAKE, KARNATAKA
========================================
PROCESSING #18: KAMMASANDRA LAKE, KARNATAKA
========================================
========================================
PROCESSING #19: KELEGERE LAKE, KARNATAKA
========================================
First Attempt FAILED at KELEGERE LAKE, KARNATAKA
========================================
PROCESSING #20: KOGILU KERE, KARNATAKA
========================================
First Attempt FAILED at KOGILU KERE, KARNATAKA
========================================
PROCESSING #21: KONDAJJIKERE LAKE, KARNATAKA
========================================
First Attempt FAILED at KONDAJJIKERE LAKE, KARNATAKA
========================================
PROCESSING #22: KUNDUVADAKERE LAKE, KARNATAKA
========================================
First Attempt FAILED at KUNDUVADAKERE LAKE, KARNATAKA
========================================
PROCESSING #23: MALATHAHALLI LAKE, KARNATAKA
========================================
First Attempt FAILED at MALATHAHALLI LAKE, KARNATAKA
========================================
PROCESSING #24: NAGAVARA LAKE, KARNATAKA
========================================
========================================
PROCESSING #25: NUGGIKERE LAKE, KARNATAKA
========================================
First Attempt FAILED at NUGGIKERE LAKE, KARNATAKA
========================================
PROCESSING #26: SATHYAMANGALA KERE POND, KARNATAKA
========================================
First Attempt FAILED at SATHYAMANGALA KERE POND, KARNATAKA
========================================
PROCESSING #27: SUDANAKERE LAKE, KARNATAKA
========================================
First Attempt FAILED at SUDANAKERE LAKE, KARNATAKA
========================================
PROCESSING #28: UNAKALKERE LAKE, KARNATAKA
========================================
First Attempt FAILED at UNAKALKERE LAKE, KARNATAKA
========================================
PROCESSING #29: UTTARAHALLI DORAIKERE, KARNATAKA
========================================
First Attempt FAILED at UTTARAHALLI DORAIKERE, KARNATAKA
========================================
PROCESSING #30: VEERAPURA TANK, KARNATAKA
========================================
First Attempt FAILED at VEERAPURA TANK, KARNATAKA
========================================
PROCESSING #31: VIBHUTHIPURA LAKE, KARNATAKA
========================================
First Attempt FAILED at VIBHUTHIPURA LAKE, KARNATAKA
========================================
PROCESSING #32: YELACHENAHALLI LAKE, KARNATAKA
========================================
First Attempt FAILED at YELACHENAHALLI LAKE, KARNATAKA
========================================
PROCESSING #33: AKKULAM BRIDGE AT AKKULAM LAKE, KERALA
========================================
First Attempt FAILED at AKKULAM BRIDGE AT AKKULAM LAKE, KERALA
========================================
PROCESSING #34: ASHTAMUDI LAKE AT PERUMON, KERALA
========================================
First Attempt FAILED at ASHTAMUDI LAKE AT PERUMON, KERALA
========================================
PROCESSING #35: ASHTAMUDI LAKE AT THOPPILAKADAVU, KERALA
========================================
First Attempt FAILED at ASHTAMUDI LAKE AT THOPPILAKADAVU, KERALA
========================================
PROCESSING #36: ASHTAMUDI LAKE NEAR KSRTC BUS DEPOT, KERALA
========================================
First Attempt FAILED at ASHTAMUDI LAKE NEAR KSRTC BUS DEPOT, KERALA
========================================
PROCESSING #37: ASHTAMUDI LAKE NEAR M/S. KUNDARA CERAMICS, KERALA
========================================
First Attempt FAILED at ASHTAMUDI LAKE NEAR M/S. KUNDARA CERAMICS, KERALA
========================================
PROCESSING #38: LAKE KARLAD AT WAYANAD, KERALA
========================================
First Attempt FAILED at LAKE KARLAD AT WAYANAD, KERALA
========================================
PROCESSING #39: CHANGU LAKE, SIKKIM
========================================
First Attempt FAILED at CHANGU LAKE, SIKKIM
========================================
PROCESSING #40: MENMOITSO LAKE, SIKKIM
========================================
First Attempt FAILED at MENMOITSO LAKE, SIKKIM
========================================
PROCESSING #41: BATHULA KUNTA, TELANGANA
========================================
First Attempt FAILED at BATHULA KUNTA, TELANGANA
========================================
PROCESSING #42: CHANDANA CHERUVU, TELANGANA
========================================
========================================
PROCESSING #43: CHINNA CHERUVU, TELANGANA
========================================
========================================
PROCESSING #44: CHINNA PEDDA CHERUVU, TELANGANA
========================================
First Attempt FAILED at CHINNA PEDDA CHERUVU, TELANGANA
========================================
PROCESSING #45: ISMAILKHANPET TANK, TELANGANA
========================================
First Attempt FAILED at ISMAILKHANPET TANK, TELANGANA
========================================
PROCESSING #46: KAMUNI CHERUVU, TELANGANA
========================================
========================================
PROCESSING #47: KOMATI CHERUVU, TELANGANA
========================================
========================================
PROCESSING #48: KOTHA CHERUVU (NOVATEL LAKE), TELANGANA
========================================
First Attempt FAILED at KOTHA CHERUVU (NOVATEL LAKE), TELANGANA
========================================
PROCESSING #49: KOTI CHERUVU, TELANGANA
========================================
First Attempt FAILED at KOTI CHERUVU, TELANGANA
========================================
PROCESSING #50: MALKA CHERUVU, TELANGANA
========================================
First Attempt FAILED at MALKA CHERUVU, TELANGANA
========================================
PROCESSING #51: MANTHRALA CHERUVU, TELANGANA
========================================
First Attempt FAILED at MANTHRALA CHERUVU, TELANGANA
========================================
PROCESSING #52: MEEDI KUNTA, TELANGANA
========================================
First Attempt FAILED at MEEDI KUNTA, TELANGANA
========================================
PROCESSING #53: PALLE CHERUVU, TELANGANA
========================================
========================================
PROCESSING #54: PALLE CHERUVU, TELANGANA
========================================
========================================
PROCESSING #55: PEDDAKANJARLA TANK, TELANGANA
========================================
First Attempt FAILED at PEDDAKANJARLA TANK, TELANGANA
========================================
PROCESSING #56: RAMANNA CHERUVU, TELANGANA
========================================
First Attempt FAILED at RAMANNA CHERUVU, TELANGANA
========================================
PROCESSING #57: RANGASAMUDRAM, TELANGANA
========================================
========================================
PROCESSING #58: TCS ENERGY PARK LAKE, TELANGANA
========================================
First Attempt FAILED at TCS ENERGY PARK LAKE, TELANGANA
========================================
PROCESSING #59: THUMMALA CHERUVU, TELANGANA
========================================
========================================
PROCESSING #60: YELLAMMA CHERUVU, TELANGANA
========================================
========================================
PROCESSING #61: SUBHAS SAROBAR, WEST BENGAL
========================================
First Attempt FAILED at SUBHAS SAROBAR, WEST BENGAL
========================================

In [45]:
print(len(STATE_DETERMINED)) ## 466
print(len(FULLY_FAILED)) ## 0
print(len(RAISED_ERROR)) ## 6
print(location_coords_geopy)

47
0
0
[(15.9240905, 80.1863809, 5159), (15.9240905, 80.1863809, 5147), (26.4073841, 93.2551303, 2207), (26.4073841, 93.2551303, 2220), (26.4073841, 93.2551303, 1263), (26.4073841, 93.2551303, 3783), (26.4073841, 93.2551303, 2215), (15.3403005, 73.94233176124271, 5280), (15.3004543, 74.0855134, 5103), (15.2192326, 74.0054637475663, 5104), (14.5203896, 75.7223521, 3651), (14.5203896, 75.7223521, 3637), (13.0017711, 77.70326364092737, 4526), (14.5203896, 75.7223521, 4528), (14.5203896, 75.7223521, 3604), (13.16575, 77.49115681818182, 3597), (14.5203896, 75.7223521, 3559), (14.5203896, 75.7223521, 3660), (12.82521135, 77.69375186505573, 4530), (14.5203896, 75.7223521, 3684), (14.5203896, 75.7223521, 4511), (14.5203896, 75.7223521, 3695), (14.5203896, 75.7223521, 3692), (14.5203896, 75.7223521, 3635), (13.044858600000001, 77.60906294904638, 3626), (14.5203896, 75.7223521, 3687), (14.5203896, 75.7223521, 3674), (14.5203896, 75.7223521, 3688), (14.5203896, 75.7223521, 3690), (14.5203896, 75.7223521, 3640), (14.5203896, 75.7223521, 3632), (14.5203896, 75.7223521, 4522), (14.5203896, 75.7223521, 3638), (10.3528744, 76.5120396, 5180), (10.3528744, 76.5120396, 5200), (10.3528744, 76.5120396, 5198), (10.3528744, 76.5120396, 5199), (10.3528744, 76.5120396, 5201), (10.3528744, 76.5120396, 5230), (27.601029, 88.45413638680145, 5291), (27.601029, 88.45413638680145, 5290), (17.8495919, 79.1151663, 5126), (17.335445749999998, 78.52360837152344, 5133), (17.384265550000002, 78.37023909426136, 5113), (17.8495919, 79.1151663, 5055), (17.8495919, 79.1151663, 4666), (17.4639147, 78.40402950000001, 5112), (13.559633550000001, 78.5068923529223, 4232), (17.8495919, 79.1151663, 5116), (17.8495919, 79.1151663, 4248), (17.8495919, 79.1151663, 5132), (17.8495919, 79.1151663, 5134), (17.8495919, 79.1151663, 4671), (17.31270695, 78.45490216547387, 5121), (17.31270695, 78.45490216547387, 5128), (17.8495919, 79.1151663, 4661), (17.8495919, 79.1151663, 5036), (10.6281344, 77.0123658, 4249), (17.8495919, 79.1151663, 5124), (16.0889184, 81.068598, 1215), (18.61213135, 79.36848829954994, 5131), (22.9964948, 87.6855882, 5163)]

In [53]:
def is_in_india(coord):
    india_bounds = {
        "lat_min": 6.0,
        "lat_max": 37.0,
        "lon_min": 68.0,
        "lon_max": 97.0,
    }
    lat, lon = coord
    return india_bounds["lat_min"] <= lat <= india_bounds["lat_max"] and india_bounds["lon_min"] <= lon <= india_bounds["lon_max"]

def filter_outside_india(coordinates):
    """
    Filters out coordinates not in India.

    Args:
        coordinates (list): List of (latitude, longitude) pairs.

    Returns:
        list: Coordinates inside India's approximate latitude and longitude range.
    """
    india_bounds = {
        "lat_min": 6.0,
        "lat_max": 37.0,
        "lon_min": 68.0,
        "lon_max": 97.0,
    }
    
    # Filter coordinates outside India's defined bounds
    filtered_coordinates = [
        (lat, lon) for lat, lon in coordinates
        if not (india_bounds["lat_min"] <= lat <= india_bounds["lat_max"] and
                india_bounds["lon_min"] <= lon <= india_bounds["lon_max"])
    ]
    return filtered_coordinates

print(filter_outside_india(list(map(lambda x: x[:2], location_coords_geopy))))

[]

In [ ]:
# Convert to DataFrame
new_data_df = pd.DataFrame(location_coords_geopy, columns=['lat', 'lon', 'STN Code'])

# Reorder columns to match the desired format
new_data_df = new_data_df[['STN Code', 'lat', 'lon']]

# Find rows in new_data_df with STN Codes not in existing_data_df
rows_to_add = new_data_df[~new_data_df['STN Code'].isin(distinct_data['STN Code'])]

# Append these rows to the existing DataFrame
updated_data_df = pd.concat([distinct_data, rows_to_add], ignore_index=True)

print("\nUpdated DataFrame:")
output_file = 'filtered_data.csv'  # Replace with your desired output file name
updated_data_df.to_csv(output_file, index=False)

Updated DataFrame: